<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About TranscendentTopicals</title>
    <link rel="stylesheet" th:href="@{${baseUrl} + '/css/about.css'}" />
</head>
<body>
    <h1>About TranscendentTopicals</h1>

    <div class="brand-description">
        <p>
            TranscendentTopicals is an all-natural, sustainable, and holistic brand dedicated to providing high-quality skincare products. Our products are carefully crafted to nourish and protect your skin while promoting overall well-being.
        </p>
        <p>
            At TranscendentTopicals, we believe in harnessing the power of nature to create effective solutions. Our range of products includes sunscreen, bugspray, and various balms, all formulated with natural ingredients sourced responsibly from the earth.
        </p>
        <p>
            We are committed to sustainability and strive to minimize our environmental footprint. Our packaging is eco-friendly, and we prioritize using organic and fair-trade ingredients. We believe in supporting local communities and ethical practices throughout our supply chain.
        </p>
        <p>
            Experience the difference with TranscendentTopicals and embrace the beauty of natural skincare. We invite you to explore our products and join us on our journey towards a healthier and more sustainable world.
        </p>
    </div>
</body>
</html>
